<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,0" />
    <script src="https://cdn.tiny.cloud/1/g5bovpeaw2i2qp5t9jntmruhowxjhwtqq8fm295gdhzhl0z2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<body>
    <header class="header">
        <div class="logo"><span class="material-symbols-sharp">eco</span></div>
        <nav class="nav">
        {% if user.is_authenticated %}
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <button type="submit" class="Login-button"><a class="word" href="/logout">Logout</a></button>
        {% else %}
        <a href="/login">Login</a>
        <a href="/sign-up">SignUp</a>
        {% endif %}
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% endif %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                {{ message }}
                <button type="button">X</button>
            {% else %}
                {{ message }}
                <button type="button">X</button>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <div>{% block content %}{% endblock %}</div>
    <script>
        // gởi một request API với /delete-note với nội dung là id của post muốn xoá
        function deletePost(postId) {
            fetch('/delete-note', {
                method: "POST",
                body: JSON.stringify({ postId: postId }),
            }).then((_res) => {
                window.location.href = "/blog"
            })
        }

        tinymce.init({
            selector: '.post-area'
        });
    </script>
</body>
</html>