{% extends "base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
<body>
<h1>Blogs</h1>
<button><a href="/create">Create blog</a></button>
<div>
    <!-- <form action="" method="post">
        <label for="sort-type">Sắp xếp theo</label>
        <select name="sort-type">
            <option value="dec">Cũ nhất</option>
            <option value="inc">Mới nhất</option>
        </select>
        <button type="submit">Áp dụng</button>
    </form> -->
    {% for post in posts %}
    <div class="blogbox">
    <a href="{{ url_for('views.view', id=post.id ) }}">
        <div">
            <h2> {{ post.title }} </h2>
            <p> {{ post.tags }}</p>
            <h4>Đăng bởi: {{ post.author }}, {{ post.date }}</h4>
            {% if user.role == 'admin' or post.user_id == user.id %}
            <a href="{{ url_for('views.edit', id=post['id']) }}"><button>Chỉnh sửa</button></a>
            <a href="{{ url_for('views.delete', id=post.id ) }}"><button>Xoá</button></a>
            {% endif %}
        </div>
    </a>
    </div>
    {% endfor %}
</div>

</body>
{% endblock %}