<!doctype html>

<head>
  <meta charset="UFT-8">
  <title>Login</title>
  <meta http-quiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Project Brief</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav class="nav">
  <h1><a href="{{ url_for('index') }}">Posts</a></h1>
  <h1><a href="{{ url_for('auth.about') }}">About us</a></h1>
  <h1><a href="{{ url_for('auth.contact') }}">Contact</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
